{
  "openapi": "3.1.0",
  "info": {
    "title": "Loore Public API",
    "version": "1.1.0",
    "description": "SURFACE: 70 tools are callable over MCP (`tools/call`). This document lists 72 REST operations: those same 70 tool endpoints, plus 1 read that exists only over REST (`GET /v1/ig-analytics/{id}` — over MCP an analysis is read through the `ig_analytics` tool) and the 1 JSON-RPC endpoint (`/mcp`), which carries the tools rather than being one. The same split is machine-readable at the document's top level under `x-loore-surface`. REFERENCE: https://mcp.loore.ai/docs (human) — https://mcp.loore.ai/openapi.json (this document). The Loore public API. Every call is authenticated with a Bearer API key (create one in Settings → MCP) and scoped to the key owner's account. LLM-spending stages meter the owner's credits exactly like the in-app flow. Responses use the shared envelope `{ status, error?, details?, result? }`. BILLING (contract version 3): a result that reports a charge carries FIVE fields, the same five on every paid tool. `nominalCredits` is what the operation costs by the price list; `creditsDebited` is what ACTUALLY left the balance; `cacheHit` says whether the deliverable was served without paying the provider again; `operationId` is a stable opaque id that two retries of one logical call share (the same id appears on the matching row in `get_spend_report`, so a receipt can be lined up against the spend report); and `billingContractVersion: 3` with `creditUnit: \"credit\"` declares the contract and the unit. All figures are in CREDITS, fractions allowed (a render or media download is 0.5). A CACHE HIT AND A DEDUPLICATED REPEAT REPORT `creditsDebited: 0` with `cacheHit: true`, while `nominalCredits` keeps the price — that is the normal, expected shape, not an error. A replayed `Idempotency-Key` result is one of these: the original call was charged, the replay is not. CHANGED IN v3: `creditsCharged` is still present and is now an EXACT ALIAS of `creditsDebited` — the amount actually taken. Under version 2 a few tools reported their list price under that name even when nothing was debited, so the same field meant different things on different tools. It was kept rather than removed so no client reads an absent field as zero; the version number moving from 2 to 3 is the signal to re-read this list. If you budget or reconcile against a single number, use `creditsDebited`. Markers declare the fields THIS contract produces; they are not a claim about other numbers in the payload. A response WITHOUT them reports no charge of ours — including a replayed result stored before this contract, which is returned in its original form. Call `POST /v1/billing-balance` (free) for the remaining balance in the same unit. ERRORS: both doors return the same failure envelope. Over REST it is the response body; over MCP it is the `tools/call` result with `isError: true` (serialized in the text block and repeated in `structuredContent`). `details` carries the cause whenever the server knows it — for `invalid_request` the exact field paths that failed validation. PAGINATION: an opaque `cursor` is valid for 6 hours after it is issued; past that the call is refused with `cursor_expired` and the walk restarts from page one without a cursor. IDEMPOTENCY: send `Idempotency-Key` on any expensive call to make a retry replay instead of re-run. The stages whose key IS their exactly-once arbiter (`skill-run`, `ig-audit-render`, `ig-batch-create`) no longer REQUIRE the header: without one the server derives a stable key from (account, stage, body), which is exactly what the MCP door does, so the same body is accepted on both doors. Send your own key when you want a genuinely fresh run. KEY LENGTH: the header is accepted up to 256 characters. A longer one is DROPPED, and on those three stages the server then derives its own key — the call still succeeds and is still deduplicated, but your key is no longer the arbiter. Keep it within 256 characters to stay in control of it."
  },
  "x-loore-surface": {
    "mcpTools": 70,
    "stageOperations": 70,
    "readOperations": 1,
    "transportOperations": 1,
    "restOperations": 72
  },
  "servers": [
    {
      "url": "https://mcp.loore.ai",
      "description": "Canonical Loore agent API"
    },
    {
      "url": "https://api.loore.ai/api",
      "description": "Legacy app-origin entrance"
    }
  ],
  "paths": {
    "/v1/ig-analytics": {
      "post": {
        "operationId": "ig_analytics",
        "summary": "ig_analytics",
        "description": "Run an Instagram analysis for a public handle and return its RAW computed metrics (profile, engagement, content mix, top reels/carousels, posting windows, hashtags). Your own agent reads these numbers and writes the analysis — Loore returns the data, not a narrative.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "handle": {
                    "type": "string",
                    "description": "Public Instagram handle, e.g. @brand"
                  },
                  "depth": {
                    "type": "string",
                    "enum": [
                      "quick",
                      "full"
                    ],
                    "description": "How much of the account to read. \"quick\" (default) — the last 24 reels, 4 credits. \"full\" — up to 100 reels for a real multi-month picture, 13 credits. Either way the answer carries `metrics.topRankedReels` — the account's strongest reels of the last 90 days by composite rank (views + comments + engagement), each with its shortcode and link, so you can run analyze-reel (or an ig-batch-create reel_funnel job) straight over them. The answer always reports how much it actually covered."
                  }
                },
                "required": [
                  "handle"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/kb-search": {
      "post": {
        "operationId": "kb_search",
        "summary": "kb_search",
        "description": "Search the user's OWN knowledge base for passages relevant to a query, to ground your answer in their uploaded documents. Returns the top matching chunks (content + source file id + similarity distance). Read-only retrieval over the user's own data.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text to search the knowledge base for (the question or topic)"
                  },
                  "topK": {
                    "type": "number",
                    "description": "Max number of chunks to return (default 5, capped at 20)"
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reference-save": {
      "post": {
        "operationId": "reference_save",
        "summary": "reference_save",
        "description": "Save the user's supplied images as visual reference assets — face photos, cover-style references, or a logo — to reuse in future image generations. Send 1-5 images per call as data: URLs under a single kind (face | style | logo); each is validated and stored (an identical image sent again is reused, not duplicated). Set replaceExisting to first clear all existing assets of that kind. Returns a per-image outcome (saved | reused | rejected) plus the active counts per kind afterwards.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "face | style | logo"
                  },
                  "images": {
                    "type": "array",
                    "description": "1-5 images, each { dataUrl: data:-URL image, label?: short note }"
                  },
                  "replaceExisting": {
                    "type": "boolean",
                    "description": "Clear all existing assets of this kind first (optional, default false)"
                  }
                },
                "required": [
                  "kind",
                  "images"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reference-list": {
      "post": {
        "operationId": "reference_list",
        "summary": "reference_list",
        "description": "List the user's stored visual reference assets (id, kind, label, dimensions, size, created/last-used timestamps), newest first. Optionally narrow to one kind (face | style | logo). Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "Narrow to one kind: face | style | logo (optional)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reference-delete": {
      "post": {
        "operationId": "reference_delete",
        "summary": "reference_delete",
        "description": "Delete the user's stored reference assets. Pass EXACTLY ONE selector per call: id (one asset), ids (a batch of up to 50 asset ids in ONE call), kind (every stored asset of that kind: face | style | logo), or all=true (every stored reference asset). When the user asks to delete several or ALL references («удали все»), make ONE call with ids, kind, or all — NEVER loop one-by-one with id. Selector choice: the user points at specific listed items they can see («удали эти», «все 9») → ids from the listing; the user means the current category («удали все лица») → kind; all=true ONLY on explicit GLOBAL intent covering every kind («удали вообще все референсы»). Idempotent: an unknown, foreign, or already-deleted id is reported as deleted=false, never an error. Returns exact counts (deleted / notFound, per-id results for ids) plus the remaining active counts per kind, so report the resulting state precisely.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "One reference asset id to delete"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 50 reference asset ids to delete in one call"
                  },
                  "kind": {
                    "type": "string",
                    "description": "Delete every stored asset of this kind: face | style | logo"
                  },
                  "all": {
                    "type": "boolean",
                    "description": "true = delete every stored reference asset the user has"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/artifact-list": {
      "post": {
        "operationId": "artifact_list",
        "summary": "artifact_list",
        "description": "List the images the user has generated (covers and carousel slides), newest first, for their gallery, alongside the data exports their batch jobs produced. Each item carries its link, kind (cover | carousel_slide | report | batch_export), title, the group id that ties one batch together, its position within that group, and when it was created. It also says how the link must be fetched (`authMode`: `public` — open to anyone holding it; `owner` — only the owner, with this same credential, so never pass it on as a share link) and when the file stops being kept (`expiresAt`, null = kept indefinitely). Narrow to one kind with `kind`, page with `limit` (max 50) and the returned `cursor`. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "Narrow to one kind: cover | carousel_slide | batch_export (optional)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Page size, 1-50 (optional, default 20)"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Opaque cursor from a previous page (optional)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/miner-search": {
      "post": {
        "operationId": "miner_search",
        "summary": "miner_search",
        "description": "Find what's going viral in an Instagram niche: start a background scan that mines top public creators and their best-performing reels for a niche you name, building the user's competitive base to analyze. Provide EXACTLY ONE of niche_query or run_id per call — never both, never neither. Pass niche_query (a niche or topic phrase, 3-100 chars) to START a scan — it returns a run id and a queued status (if a scan is already in progress you get THAT pending run back instead of a new one). Pass that run id back as run_id to CHECK the scan's progress until it is done. max_profiles bounds how many creators to enrich (integer 1-300, default 10; only valid with niche_query — pass the exact number the user asked for, e.g. 50). The per-scan cap is 300 on EVERY plan; the real ceiling is the user's daily research allowance (a big scan may exceed today's budget — the returned note says how many can be collected today, so scan in batches). A single scan of one niche often yields fewer than asked: to reach N, run FOLLOW-UP scans with DIFFERENT niche phrasings (synonyms, sub-niches, adjacent topics) — never repeat the identical niche_query expecting new results.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "niche_query": {
                    "type": "string",
                    "description": "Niche/topic phrase to scan for, 3-100 chars (start mode; mutually exclusive with run_id)"
                  },
                  "run_id": {
                    "type": "string",
                    "description": "A run id from a prior scan to check its status (poll mode; mutually exclusive with niche_query)"
                  },
                  "max_profiles": {
                    "type": "number",
                    "description": "How many creators to enrich, integer, min 1, max 300 (optional, default 10; start mode only). Pass the exact count the user asked for. The cap is 300 on every plan; the daily allowance is the real ceiling (an oversized ask returns how many fit today)."
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/miner-fired-reels": {
      "post": {
        "operationId": "miner_fired_reels",
        "summary": "miner_fired_reels",
        "description": "List which of the user's tracked competitor reels fired recently — clips that suddenly outperformed their author's usual numbers — newest fire first. Each item carries the reel's link, author handle, play count, plays-per-hour velocity (null when the publish time is unknown), a short caption excerpt, and when it fired. limit caps the count (1-20, default 20). Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "description": "Max reels to return, 1-20 (optional, default 20)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/miner-fired-posts": {
      "post": {
        "operationId": "miner_fired_posts",
        "summary": "miner_fired_posts",
        "description": "List which of the user's tracked competitor POSTS fired recently — photos and carousels whose likes suddenly outran their author's usual numbers — newest fire first. Each item carries the post's link, author handle, likes, comments, whether it is a photo or a carousel, a short caption excerpt, and when it fired. Posts have no view count, so none is reported. Use miner_fired_reels for reels. limit caps the count (1-20, default 20). Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "description": "Max posts to return, 1-20 (optional, default 20)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/miner-insights": {
      "post": {
        "operationId": "miner_insights",
        "summary": "miner_insights",
        "description": "Read everything the user has mined about a niche. Returns the competitor roster (competitors: the actual mined accounts, biggest first — handle, follower count, name, category, verified, how many reels each appeared in, whether tracked), the top reels by play count (topReels: each with a link, author handle, plays/likes/comments, publish time, and caption excerpt), the base totals, the velocity outliers (reels far above their author's median), the busiest posting hours (in UTC), and the fastest-growing tracked accounts — all RAW numbers for your own agent to analyze. Call this after a miner_search scan reaches status 'done' to LIST the competitors and their best reels. roster_limit (1-300, optional, default 20) bounds how many competitor rows come back — leave it default for a normal look; pass a high value (up to 300) ONLY when building a full competitor REPORT that needs the whole base. No new mining and no credit spend — read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roster_limit": {
                    "type": "number",
                    "description": "Max competitor rows to return, 1-300 (optional, default 20; raise only for a full report)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/library-save-search": {
      "post": {
        "operationId": "library_save_search",
        "summary": "library_save_search",
        "description": "Keep a search on the user's own library shelf so they can return to it later: what was searched (accounts, reels, posts or hashtags) and the exact query. Saving the same query again does not duplicate it — it counts the revisit. Optionally file it under a folder name such as a niche; the folder is created on first use.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "accounts | reels | posts | hashtags"
                  },
                  "query": {
                    "type": "string",
                    "description": "The query exactly as the user phrased it"
                  },
                  "folder": {
                    "type": "string",
                    "description": "Folder name to file it under (optional)"
                  },
                  "result_count": {
                    "type": "number",
                    "description": "How many results it returned (optional)"
                  }
                },
                "required": [
                  "kind",
                  "query"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/library-save-item": {
      "post": {
        "operationId": "library_save_item",
        "summary": "library_save_item",
        "description": "Put one thing aside on the user's library shelf: a profile, a reel, a post or a hashtag. Pass the handle, the shortcode or the hashtag as the reference. Add a title the user will recognise and a note on why it was kept. Keeping the same thing again refreshes it instead of duplicating it.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "profile | reel | post | hashtag"
                  },
                  "ref": {
                    "type": "string",
                    "description": "Handle, media shortcode, or hashtag name"
                  },
                  "title": {
                    "type": "string",
                    "description": "Label shown in the list (optional)"
                  },
                  "note": {
                    "type": "string",
                    "description": "Why this was kept (optional)"
                  },
                  "folder": {
                    "type": "string",
                    "description": "Folder name to file it under (optional)"
                  }
                },
                "required": [
                  "kind",
                  "ref"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/library-list": {
      "post": {
        "operationId": "library_list",
        "summary": "library_list",
        "description": "Read the user's own library: the searches they kept (with how often they returned to each one and when it last ran) and the profiles, reels, posts and hashtags they put aside with their notes. Use this before searching anew — the user may already have what they need. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "what": {
                    "type": "string",
                    "description": "searches | items | both (optional, default both)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Max rows per section, 1-50 (optional, default 20)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/miner-track": {
      "post": {
        "operationId": "miner_track",
        "summary": "miner_track",
        "description": "Add a competitor to the user's daily tracking so their new reels are watched for breakouts. Give an Instagram handle or profile link; the account must already be in the user's mined base (run a niche scan with miner_search first if it isn't). Respects the user's plan tracking cap and is reversible. Returns whether tracking is now on, or a reason it isn't (not in the base, or the tracking cap is reached).",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "author_handle_or_url": {
                    "type": "string",
                    "description": "The competitor's Instagram handle (e.g. @brand) or profile link"
                  }
                },
                "required": [
                  "author_handle_or_url"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tracking-list": {
      "post": {
        "operationId": "tracking_list",
        "summary": "tracking_list",
        "description": "List every Instagram account the user watches, with the plan's watch-slot header (used / max — max is null on an unlimited plan) and, per account, its handle, name, follower count, whether it is active or paused, whether the nightly auto-update is on, when it was last collected, and when it was added. Read this before adding or removing anything — it is the only honest source of how many slots are left. Takes no arguments and is FREE: read-only, no new data is collected.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tracking-feed": {
      "post": {
        "operationId": "tracking_feed",
        "summary": "tracking_feed",
        "description": "Read what the watched accounts have published, merged into one ranked feed. Each item carries the publication's link, the author's handle, whether it is a reel or a post, a caption excerpt, the publish time, plays/likes/comments, and how many times the author's OWN median it did (ratioToMedian — that is the breakout signal). filter picks the ranking: 'new' (default, newest first), 'views' (best-performing first across the whole feed) or 'anomalous' (only the breakouts, biggest ratio first). kind narrows to 'reel' or 'post'. limit sets the page size (1-50, default 12). When more rows exist the answer carries nextCursor — pass it back as cursor to get the next page, WITHOUT changing filter or kind (a cursor belongs to the ranking that produced it and is refused otherwise). FREE and read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "string",
                    "description": "Ranking: 'new' (default), 'views', or 'anomalous' (breakouts only)"
                  },
                  "kind": {
                    "type": "string",
                    "description": "Narrow to 'reel' or 'post' (optional; default both)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Page size, integer 1-50 (optional, default 12)"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "The nextCursor from the previous page — resume with the SAME filter and kind (optional)"
                  }
                },
                "required": [],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tracking-add": {
      "post": {
        "operationId": "tracking_add",
        "summary": "tracking_add",
        "description": "Put an Instagram account under WATCH so its new posts and reels keep flowing into the user's tracking feed. Give a handle or a profile link. On success the account is watched and its recent publications are collected immediately, so tracking_feed has something to show at once. Costs 2 credits per account added — nothing is charged when the add is refused. The user's plan grants a fixed number of watch slots: when they are used up the answer is added=false with reason='no_slots' and the plan's real numbers, so tell the user to free a slot with tracking_remove or upgrade — never retry the same add. An account already watched answers added=false with reason='already_tracked'. Read the roster first with tracking_list.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The account's Instagram handle (e.g. @brand) or profile link"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tracking-refresh": {
      "post": {
        "operationId": "tracking_refresh",
        "summary": "tracking_refresh",
        "description": "Collect ONE watched account's newest publications right now, instead of waiting for the nightly update. Give a handle or profile link of an account already watched. Costs 1 credits per refresh — nothing is charged when it is refused. An account that is not watched answers refreshed=false with reason='not_tracked' (add it first); a paused one answers reason='paused' (resume it first). Read the result through tracking_feed.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The account's Instagram handle (e.g. @brand) or profile link"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
[...]
