{
  "openapi": "3.1.0",
  "info": {
    "title": "Loore Public API",
    "version": "1.1.0",
    "description": "START WITH `reel_storyboard` (the first tool in the catalogue). It cuts an Instagram reel into timecoded FRAMES and returns them as image links, so YOUR AGENT SEES THE REEL — hook, body and closing frames at known timestamps, flagged on shot changes — and decides from what is actually on screen instead of guessing from a text description of a video it never watched. `reel_reference_compare` does the same across several reels and returns an addressed evidence ledger. We measure and hand back the evidence; your agent draws the conclusions — WE DO NOT WRITE YOUR SCENARIOS OR TELEPROMPTER TEXT, and generate no prose for you at all. (Producing the data uses machines where it must — speech is transcribed by a speech-to-text model — but the words you publish are never ours.) READING ORDER: `paths` is a JSON object, so its key order is not a contract. The catalogue order is published as data in `x-loore-catalogue-order` at this document's root, and on each operation as `x-displayOrder`. Sort by those, never by key iteration. SURFACE: 73 tools are callable over MCP (`tools/call`). This document lists 75 REST operations: those same 73 tool endpoints, plus 1 read that exists only over REST (`GET /v1/ig-analytics/{id}` — over MCP an analysis is read through the `ig_analytics` tool) and the 1 JSON-RPC endpoint (`/mcp`), which carries the tools rather than being one. The same split is machine-readable at the document's top level under `x-loore-surface`. REFERENCE: https://loore.ai/docs (human) — https://mcp.loore.ai/openapi.json (this document). The Loore public API. Every call is authenticated with a Bearer API key (create one in the account's «API и MCP» section, /cabinet/mcp) and scoped to the key owner's account. LLM-spending stages meter the owner's credits exactly like the in-app flow. Responses use the shared envelope `{ status, error?, details?, result? }`. BILLING (contract version 3): a result that reports a charge carries SIX fields, the same six on every paid tool. `nominalCredits` is what the operation costs by the price list; `creditsDebited` is what ACTUALLY left the balance; `cacheHit` says whether the deliverable was served without paying the provider again; `idempotentReplay` says whether this call is an idempotent repeat of an operation already charged in the current paid period (the debit is 0 because the EARLIER call paid — repeats charge again once the subscription's paid period rolls over); `operationId` is a stable opaque id that two retries of one logical call share (the same id appears on the matching row in `get_spend_report`, so a receipt can be lined up against the spend report); and `billingContractVersion: 3` with `creditUnit: \"credit\"` declares the contract and the unit. All figures are in CREDITS, fractions allowed (a render or media download is 0.5). A CACHE HIT AND A DEDUPLICATED REPEAT REPORT `creditsDebited: 0` while `nominalCredits` keeps the price — that is the normal, expected shape, not an error. A deduplicated repeat additionally carries `idempotentReplay: true`; a replayed `Idempotency-Key` result is one of these: the original call was charged, the replay is not. CHANGED IN v3: `creditsCharged` is still present and is now an EXACT ALIAS of `creditsDebited` — the amount actually taken. Under version 2 a few tools reported their list price under that name even when nothing was debited, so the same field meant different things on different tools. It was kept rather than removed so no client reads an absent field as zero; the version number moving from 2 to 3 is the signal to re-read this list. If you budget or reconcile against a single number, use `creditsDebited`. Markers declare the fields THIS contract produces; they are not a claim about other numbers in the payload. A response WITHOUT them reports no charge of ours — including a replayed result stored before this contract, which is returned in its original form. Call `POST /v1/billing-balance` (free) for the remaining balance in the same unit. ERRORS: both doors return the same failure envelope. Over REST it is the response body; over MCP it is the `tools/call` result with `isError: true` (serialized in the text block and repeated in `structuredContent`). `details` carries the cause whenever the server knows it — for `invalid_request` the exact field paths that failed validation. `ApiErrorEnvelope.error` lists EVERY code either door can send — parse against that enum, not against the response list of the operation you happen to be calling. METHOD: `method_not_allowed` (405) is the one code no operation below documents, because no operation can produce it — an operation IS one path-and-method pair, and a path answers 405 only to the verbs it does NOT serve. Send a real `/v1` path the wrong verb and you get it: The endpoint exists but not for this HTTP method; the `Allow` header lists the methods it serves. `details.allow` repeats that list as data. PAGINATION: an opaque `cursor` is valid for 6 hours after it is issued; past that the call is refused with `cursor_expired` and the walk restarts from page one without a cursor. IDEMPOTENCY: send `Idempotency-Key` on any expensive call to make a retry replay instead of re-run. The stages whose key IS their exactly-once arbiter (`skill-run`, `ig-audit-render`, `ig-batch-create`) no longer REQUIRE the header: without one the server derives a stable key from (account, stage, body), which is exactly what the MCP door does, so the same body is accepted on both doors. Send your own key when you want a genuinely fresh run. KEY LENGTH: the header is accepted up to 256 characters. A longer one is DROPPED, and on those three stages the server then derives its own key — the call still succeeds and is still deduplicated, but your key is no longer the arbiter. Keep it within 256 characters to stay in control of it."
  },
  "x-loore-surface": {
    "mcpTools": 73,
    "stageOperations": 73,
    "readOperations": 1,
    "transportOperations": 1,
    "restOperations": 75
  },
  "x-loore-catalogue-order": [
    "reel_storyboard",
    "reel_reference_compare",
    "reel_visual_plan",
    "ig_analytics",
    "ig_stories",
    "ig_highlights",
    "ig_post_engagement",
    "ig_music_trends",
    "ig_followers_sample",
    "ig_request",
    "ig_profile",
    "ig_user_reels",
    "ig_user_posts",
    "ig_media",
    "ig_media_comments",
    "ig_comment_replies",
    "ig_batch_create",
    "ig_batch_quote",
    "ig_batch_status",
    "ig_batch_result",
    "ig_batch_cancel",
    "ig_batch_retry",
    "ig_followers",
    "ig_following",
    "ig_search",
    "ig_hashtag_media",
    "ig_location_media",
    "ig_audio",
    "ig_audio_media",
    "ig_user_stories",
    "ig_highlights_list",
    "ig_highlight_items",
    "ig_resolve",
    "ig_download",
    "download_instagram_media",
    "download_instagram_story",
    "analyze_reel",
    "report_render",
    "ig_audit_render",
    "carousel_prompt",
    "miner_search",
    "miner_fired_reels",
    "miner_fired_posts",
    "miner_insights",
    "miner_track",
    "tracking_list",
    "tracking_feed",
    "tracking_add",
    "tracking_refresh",
    "tracking_pause",
    "tracking_resume",
    "tracking_remove",
    "tracking_add_batch",
    "tracking_batch_status",
    "kb_search",
    "reference_save",
    "reference_list",
    "reference_delete",
    "artifact_list",
    "library_save_search",
    "library_save_item",
    "library_list",
    "skill_list",
    "skill_run",
    "skill_run_status",
    "skill_create",
    "get_credit_balance",
    "estimate_credit_cost",
    "get_spend_report",
    "get_partner_summary",
    "list_partner_codes",
    "list_partner_earnings",
    "list_partner_payouts"
  ],
  "servers": [
    {
      "url": "https://mcp.loore.ai",
      "description": "Canonical Loore agent API"
    },
    {
      "url": "https://api.loore.ai/api",
      "description": "Legacy app-origin entrance"
    }
  ],
  "paths": {
    "/v1/reel-storyboard": {
      "post": {
        "operationId": "reel_storyboard",
        "summary": "reel_storyboard",
        "description": "YOUR AGENT SEES THE REEL INSTEAD OF GUESSING AT IT. Cut ONE Instagram reel into a timecoded STORYBOARD and get the actual FRAMES back IN BOTH USABLE FORMS: over MCP up to 8 of them (ceiling 12, moved with max_image_frames) come back AS PICTURES INSIDE THE ANSWER — your agent SEES them, no fetching — and EVERY frame also carries its own first-party image link. Only MCP can carry an image block, so a plain HTTP call receives the links alone. READ a frame from the PICTURE yourself; use the LINK when the frame has to go into a document or be downloaded as a file. So an agent that can look at pictures decides from what is on screen, not from someone's text summary of a video it never saw. Up to 24 frames (default 12), each at a precise timestamp with its `mm:ss.d` timecode, labelled hook / body / cta and flagged when it sits on a shot change, plus the detected shot-change times and a coverage receipt proving where the frames landed. The answer ALSO carries the reel's caption and its public counters (plays, likes, comments) under reel — read them here, do not spend an ig_media or analyze_reel call just for the caption. Unlike a plain sample, the frame budget is SHARED BY SLOT — the middle of the reel (where the substance is) is always covered, never just the opening and the end card. Choose a strategy: \"uniform\" (an even grid), \"scene\" (on the shot changes) or \"hybrid\" (an even grid snapped to nearby shot changes, the default). The three CONVERGE on a reel with no detected shot change — a single take, or a soft-cut edit — because there is nothing to snap to: the answer then reports sceneCutsDetected 0, the strategy that actually ran, and says so in its note, so identical timestamps across strategies are a fact about the reel rather than a fault. The answer also states requestedFrames beside deliveredFrames; they are equal unless a position could not be read, which is reported, never hidden. Costs 1.5 credits FLAT — one price per reel whether you ask for 3 frames or 24, never per frame — and a private, deleted or undownloadable reel is never charged.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The Instagram reel URL or its shortcode (e.g. https://instagram.com/reel/ABC…)"
                  },
                  "strategy": {
                    "type": "string",
                    "description": "Frame placement: \"hybrid\" (default), \"uniform\" or \"scene\""
                  },
                  "frames": {
                    "type": "number",
                    "description": "How many frames to cut, 3-24 (default 12)"
                  },
                  "include_image_data": {
                    "type": "boolean",
                    "description": "When true (the DEFAULT), the frames come back as actual MCP image blocks — the real JPEG bytes in the answer — not only as links. Required for any client that cannot fetch an external URL: it sees the frames without making a single extra request. At most 12 images per answer, and a byte budget on top of that — whatever is not inlined is NAMED in the answer, and every frame keeps its URL in the JSON either way. Set false to receive links only."
                  },
                  "max_image_frames": {
                    "type": "number",
                    "description": "How many frames come back as PICTURES, 0-12 (default 8). The default is below the ceiling on purpose: pictures are sent at a quality where small on-frame text stays readable, and that costs weight, so the answer carries fewer of them rather than more unreadable ones. Raise it if your client accepts large results, lower it if it does not; 0 is the same as include_image_data:false. EVERY frame's URL stays in the JSON at every setting, so nothing is ever lost by asking for fewer pictures. If a result is too large for your client even without pictures, the answer comes back as a SUCCESS whose JSON is {status:\"result_too_large\", ...} plus a marked, unparseable excerpt — check that status before reading your own fields, and follow its advice to ask for less."
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 0
      }
    },
    "/v1/reel-reference-compare": {
      "post": {
        "operationId": "reel_reference_compare",
        "summary": "reel_reference_compare",
        "description": "Measure 2-5 Instagram reels and set them side by side on five axes: HOOKS (what is said in the opening seconds and how fast), STRUCTURE (beats across hook/body/closing, talk ratio, words per second), VISUAL LANGUAGE (shot changes per minute, average shot length, longest static stretch), PROOF (how many concrete figures the script actually states) and COMMENT QUALITY (length, question share, substantive share, likes — the axis reports available false with a gap of \"no_comments\" or \"unavailable\" rather than an empty sample that looks measured). Returns each reel's storyboard and read, the leader on every axis, and the EVIDENCE LEDGER — every measured fact addressed E1..En with the numbers it asserts, so YOUR agent can cite them while it writes the scenario on your side (see the reel-scenario-kit skill). Frames come back as first-party image LINKS by default here; ask include_image_data over MCP and up to 8 of them (ceiling 12) ALSO arrive AS PICTURES INSIDE THE ANSWER, which your agent sees without fetching anything — the PICTURE is for reading a frame yourself, the LINK for putting it in a document or downloading the file. Costs 2 credits PER REEL actually measured; a private or deleted reference is never charged.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "2-5 reel URLs or shortcodes to compare"
                  },
                  "frames": {
                    "type": "number",
                    "description": "Storyboard frames per reel, 3-24 (default 6)"
                  },
                  "include_comments": {
                    "type": "boolean",
                    "description": "Sample the comments for the comment-quality axis (default true)"
                  },
                  "comment_sample": {
                    "type": "number",
                    "description": "How many comments to sample per reel (default 20)"
                  },
                  "include_image_data": {
                    "type": "boolean",
                    "description": "When true, each measured reel's frames come back as actual MCP image blocks — the real JPEG bytes in the answer — not only as links, for clients that cannot fetch an external URL. DEFAULT false here because this call measures several reels at once; the per-answer ceiling of 12 images and its byte budget apply regardless, and whatever is not inlined is NAMED in the answer. Every frame keeps its URL in the JSON."
                  },
                  "max_image_frames": {
                    "type": "number",
                    "description": "How many frames come back as PICTURES, 0-12 (default 8). The default is below the ceiling on purpose: pictures are sent at a quality where small on-frame text stays readable, and that costs weight, so the answer carries fewer of them rather than more unreadable ones. Raise it if your client accepts large results, lower it if it does not; 0 is the same as include_image_data:false. EVERY frame's URL stays in the JSON at every setting, so nothing is ever lost by asking for fewer pictures. If a result is too large for your client even without pictures, the answer comes back as a SUCCESS whose JSON is {status:\"result_too_large\", ...} plus a marked, unparseable excerpt — check that status before reading your own fields, and follow its advice to ask for less."
                  }
                },
                "required": [
                  "urls"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 1
      }
    },
    "/v1/reel-visual-plan": {
      "post": {
        "operationId": "reel_visual_plan",
        "summary": "reel_visual_plan",
        "description": "Turn a scenario into a SHOOTING plan: one shot per beat with its type (talking head, b-roll, screen recording, text card) and direction, the cutaway footage and screen captures to prepare, every burned-in overlay with the second it appears, the asset checklist, and notes for the editor. Pass the measured cadence from reel_reference_compare (reels[].read.visual) and the plan also states the edit tempo to match. Free — no provider call, no model.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scenario": {
                    "type": "object",
                    "properties": {
                      "topic": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 300
                      },
                      "goal": {
                        "type": "string",
                        "enum": [
                          "reach",
                          "leads",
                          "sell",
                          "educate"
                        ]
                      },
                      "audience": {
                        "default": null,
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 300
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "durationSeconds": {
                        "type": "number",
                        "minimum": 5,
                        "maximum": 180
                      },
                      "hook": {
                        "type": "object",
                        "properties": {
                          "line": {
                            "type": "string",
                            "maxLength": 300
                          },
                          "visual": {
                            "type": "string",
                            "maxLength": 300
                          },
                          "whyItWorks": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 400
                              },
                              "evidenceIds": {
                                "maxItems": 12,
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "maxLength": 16
                                }
                              }
                            },
                            "required": [
                              "text",
                              "evidenceIds"
                            ]
                          }
                        },
                        "required": [
                          "line",
                          "visual"
                        ]
                      },
                      "beats": {
                        "minItems": 1,
                        "maxItems": 24,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fromSeconds": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 180
                            },
                            "toSeconds": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 180
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "hook",
                                "body",
                                "cta"
                              ]
                            },
                            "teleprompter": {
                              "type": "string",
                              "maxLength": 600
                            },
                            "shot": {
                              "type": "string",
                              "maxLength": 300
                            },
                            "onScreenText": {
                              "default": null,
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "fromSeconds",
                            "toSeconds",
                            "role",
                            "teleprompter",
                            "shot"
                          ]
                        },
                        "contains": {
                          "type": "object",
                          "properties": {
                            "teleprompter": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "teleprompter"
                          ]
                        }
                      },
                      "cta": {
                        "type": "object",
                        "properties": {
                          "line": {
                            "type": "string",
                            "maxLength": 300
                          },
                          "codeWord": {
                            "default": null,
                            "anyOf": [
                              {
                                "type": "string",
                                "maxLength": 64
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "line"
                        ]
                      },
                      "provenance": {
                        "default": [],
                        "maxItems": 10,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "reelCode": {
                              "type": "string",
                              "maxLength": 32
                            },
                            "mechanic": {
                              "type": "string",
                              "maxLength": 200
                            },
                            "whatWasBorrowed": {
                              "type": "string",
                              "maxLength": 300
                            },
                            "evidenceIds": {
                              "maxItems": 12,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 16
                              }
                            }
                          },
                          "required": [
                            "reelCode",
                            "mechanic",
                            "whatWasBorrowed",
                            "evidenceIds"
                          ]
                        }
                      },
                      "claims": {
                        "default": [],
                        "maxItems": 12,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 400
                            },
                            "evidenceIds": {
                              "maxItems": 12,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 16
                              }
                            }
                          },
                          "required": [
                            "text",
                            "evidenceIds"
                          ]
                        }
                      }
                    },
                    "required": [
                      "topic",
                      "goal",
                      "durationSeconds",
                      "hook",
                      "beats",
                      "cta"
                    ],
                    "description": "The scenario to plan — the shape the reel-scenario-kit skill produces. Its full field list, types and bounds are published inline under `properties`/`required`. `beats` IS the teleprompter block and is required: the words to say, broken shot by shot, each shot with its own fromSeconds/toSeconds timing. At least one beat must carry spoken text — a scenario nobody can read to camera is an outline, not a script."
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 32
                        },
                        "sceneCutCount": {
                          "default": 0,
                          "type": "number",
                          "minimum": 0,
                          "maximum": 10000
                        },
                        "cutsPerMinute": {
                          "default": 0,
                          "type": "number",
                          "minimum": 0,
                          "maximum": 10000
                        },
                        "averageShotSeconds": {
                          "default": null,
                          "anyOf": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 10000
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "longestStaticSeconds": {
                          "default": null,
                          "anyOf": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 10000
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "description": "One reference reel's measured cut cadence, taken from reel_reference_compare (reels[].read.visual)."
                    },
                    "maxItems": 5,
                    "description": "Optional, up to 5: the measured cadence per reference reel (code, sceneCutCount, cutsPerMinute, averageShotSeconds, longestStaticSeconds) from reel_reference_compare (reels[].read.visual). Each item's shape is published inline under `items`."
                  }
                },
                "required": [
                  "scenario"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 2
      }
    },
    "/v1/ig-analytics": {
      "post": {
        "operationId": "ig_analytics",
        "summary": "ig_analytics",
        "description": "Run an Instagram analysis for a public handle and return its RAW computed metrics (profile, engagement, content mix, top reels/carousels, posting windows, hashtags). Your own agent reads these numbers and writes the analysis — Loore returns the data, not a narrative.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "handle": {
                    "type": "string",
                    "description": "Public Instagram handle, e.g. @brand"
                  },
                  "depth": {
                    "type": "string",
                    "enum": [
                      "quick",
                      "full"
                    ],
                    "description": "How much of the account to read. \"quick\" (default) — the last 24 reels, 4 credits. \"full\" — up to 100 reels for a real multi-month picture, 13 credits. Either way the answer carries `metrics.topRankedReels` — the account's strongest reels of the last 90 days by composite rank (views + comments + engagement), each with its shortcode, link, caption excerpt (the first 200 characters — enough to pick a candidate; the full caption is one ig-media call on the reel you choose), hashtags, duration, cover, and — where the provider sent them — saves, shares and the sound (music: title, artist), so you can read them without re-listing and run analyze-reel (or an ig-batch-create reel_funnel job) straight over them. TRIAL publications (reels Instagram showed to non-followers only) are left out of that ranking, so the top reflects the author's regular audience. The answer always reports how much it actually covered. The caption excerpt, hashtags, duration, cover and — where the provider sent them — saves, shares and the sound on each top row exist only on analyses run from 2026-09-03 on: an older analysis read back by id carries the numbers and the link alone (its raw snapshot was not kept), so re-run it if you need those fields."
                  }
                },
                "required": [
                  "handle"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 3
      }
    },
    "/v1/ig-stories": {
      "post": {
        "operationId": "ig_stories",
        "summary": "ig_stories",
        "description": "Look up a public Instagram account's currently-live Stories (metadata only — no media is downloaded). Returns each story's posted time, media kind (image/video), duration, any @mentions, and a link-sticker URL when present, plus the total count. Honest-empty when the account has no active stories or is private.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Public Instagram handle, e.g. @brand"
                  }
                },
                "required": [
                  "username"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 4
      }
    },
    "/v1/ig-highlights": {
      "post": {
        "operationId": "ig_highlights",
        "summary": "ig_highlights",
        "description": "List a public Instagram account's Story Highlights (up to 20): each highlight's title, how many items it holds, and a COVER IMAGE URL when the account's tray carries one. Costs 3 credits: reading a tray by handle costs three upstream requests, whatever it looks like. It does NOT return highlight ids, so you cannot open a highlight afterwards. ig_highlights_list answers the same question for the same price when you address the account by handle — cheaper if you pass a numeric account id — and it returns the ids ig_highlight_items takes, but no cover images. So: call THIS one when you want the covers, and ig_highlights_list when you need to open a highlight or already hold the account id. Read-only; honest-empty for an account with no highlights or a private one (an empty tray is not billed).",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Public Instagram handle, e.g. @brand"
                  }
                },
                "required": [
                  "username"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 5
      }
    },
    "/v1/ig-post-engagement": {
      "post": {
        "operationId": "ig_post_engagement",
        "summary": "ig_post_engagement",
        "description": "Read the engagement depth of a single public post or reel: its like/comment totals, a sample of up to 20 accounts who liked it, and the top comment threads (up to 10, each with up to 3 replies taken from the thread's preview — not the full reply history; text trimmed). Accepts a post/reel URL or its shortcode. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_url_or_code": {
                    "type": "string",
                    "description": "A post/reel link (instagram.com/p/… or /reel/…) or just its shortcode"
                  }
                },
                "required": [
                  "post_url_or_code"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 6
      }
    },
    "/v1/ig-music-trends": {
      "post": {
        "operationId": "ig_music_trends",
        "summary": "ig_music_trends",
        "description": "Search Instagram's audio library for trending sounds to use in Reels. Returns up to 15 tracks for a query — each with title, artist, duration in seconds, an id you can reference, and two marketer signals: reels_usage shows how many reels use each sound (e.g. '322K reels') and trending flags whether it's trending in Reels right now. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "What kind of sound to find, e.g. 'upbeat pop 2026'"
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 7
      }
    },
    "/v1/ig-followers-sample": {
      "post": {
        "operationId": "ig_followers_sample",
        "summary": "ig_followers_sample",
        "description": "Fetch a SAMPLE (first page, up to 30) of a public account's followers OR the accounts it follows — handles plus display names. This is a sample, not the full list; compare two accounts' samples to reason about audience overlap yourself. Rows never carry a biography, in any fields mode (extended adds the display name, nothing else). A bio is readable only by calling ig_profile on ONE named account, at 1 credit per account. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Public Instagram handle, e.g. @brand"
                  },
                  "which": {
                    "type": "string",
                    "description": "Which edge to sample — exactly \"followers\" or \"following\""
                  }
                },
                "required": [
                  "username",
                  "which"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 8
      }
    },
    "/v1/ig-request": {
      "post": {
        "operationId": "ig_request",
        "summary": "ig_request",
        "description": "Advanced Instagram data lookup for anything the dedicated tools don't already cover — pick one of the supported endpoints and pass its parameters. Read-only lookups only; results are size-capped. Use the dedicated tools first; reach for this for the long tail. The answer reports `partial: true` when it is not the whole story (the result was capped, or more pages exist), and carries `nextCursor` when more pages exist — pass that value back as the endpoint's page/cursor parameter to continue.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "description": "Which lookup to run. One of: user-by-username (Full public profile by @handle (bio, counts, category, external link).); user-by-id (Full public profile by numeric account id.); web-profile-info (Web profile payload for a handle (profile fields + first grid of posts).); user-about (Account 'about this account' transparency info (country, join date, past names).); user-related-profiles (Instagram's 'related / suggested' accounts for a profile.); user-medias (A public account's recent feed posts (metadata). NOTE: amount is currently ignored — this endpoint always returns a whole page, so do not rely on it to limit the result.); user-clips (A public account's recent reels (metadata).); user-tagged-medias (Public posts an account has been tagged in.); hashtag-info (Hashtag summary (media count, preview of top posts).); hashtag-medias-top (Top posts for a hashtag.); hashtag-medias-recent (Most recent posts for a hashtag.); location-search (Places near a latitude/longitude coordinate.); location-by-id (Details of a place/location by id.); location-medias-top (Top posts tagged at a location.); search-users (Search accounts by name or keyword.); search-places (Search places/locations by name.); search-hashtags (Search hashtags by keyword.); topsearch (Blended top search (accounts, hashtags, places) for a keyword.); media-by-code (A single post or reel by its shortcode.); media-by-id (A single post or reel by its media id.); media-oembed (oEmbed metadata for a public post URL (author, thumbnail, caption).); media-comments (Top-level comments on a post.); share-by-url (Resolve any Instagram share URL to the object it points at.); track-by-id (An audio track / original sound by its id.); highlight-by-id (The items inside a profile's highlight tray by id.); ig-fbsearch-places (Search places, optionally near a latitude/longitude.); ig-fbsearch-places-v2 (Search places by name (alternate source).); ig-fbsearch-places-v3 (Search places by name (current source).); ig-fbsearch-topsearch-hashtags (Suggest hashtags for a keyword (top search).); ig-hashtag-by-name (Hashtag summary by name (volume, preview).); ig-highlight-by-url (A story highlight from its link.); ig-location-by-id (Details of a place/location by id.); ig-location-guides (Curated guides for a location.); ig-location-medias-recent (Most recent posts tagged at a location.); ig-location-medias-top (Top posts tagged at a location.); ig-media-by-id (A single post or reel by its media id.); ig-media-by-url (A single post or reel from its link.); ig-media-code-from-pk (Convert a media pk to its shortcode.); ig-media-comment-offensive (Check whether a comment reads as offensive (moderation).); ig-media-comments-replies (The replies in a single comment thread on a post.); ig-media-info-by-code (A single post or reel by shortcode (clean 200/404).); ig-media-info-by-id (A single post or reel by media id (clean 200/404).); ig-media-info-by-url (A single post or reel from its link (clean 200/404).); ig-media-insight (Business insight metrics for a post (reach / impressions).); ig-media-likers (Accounts that liked a post (no paging).); ig-media-likers-v1 (Accounts that liked a post.); ig-media-likers-v3 (Accounts that liked a post (ranked, capped ~200).); ig-media-pk-from-code (Convert a shortcode to its media pk.); ig-media-pk-from-url (Resolve a post link to its media pk.); ig-media-template (The structural template of a post.); ig-media-user (The author of a post by media id.); ig-search-music (Search the audio library by keyword.); ig-share-by-code (Resolve a share code (stories / highlights) to the object it points at.); ig-share-reel-by-url (Resolve a reel share link to the reel it points at.); ig-story-by-id (A single story by its id.); ig-story-by-id-v2 (A single story by its id (alternate source).); ig-story-by-url (A single story from its link.); ig-story-by-url-v2 (A single story from its link (alternate source).); ig-user (Public profile by @handle (lightweight fast variant).); ig-user-about ('About this account' transparency panel by id: country, join date, former usernames.); ig-user-by-id (Full public profile by numeric account id.); ig-user-by-url (Full public profile from a link to the account.); ig-user-by-username (Full public profile by @handle.); ig-user-explore-businesses-by-id (Recommended similar business accounts for a profile (competitor/niche discovery).); ig-user-highlights (An account's Story Highlights tray by numeric account id.); ig-user-highlights-by-username (An account's Story Highlights tray by @handle.); ig-user-medias-pinned (An account's pinned posts (its chosen top posts).); ig-user-search-followers (Search WITHIN an account's followers for a keyword (is X a follower of Y).); ig-user-search-following (Search WITHIN the accounts a profile follows for a keyword.); ig-user-stories (An account's currently-active stories by numeric account id (metadata, alternate source).); ig-user-stories-by-username (An account's currently-active stories by @handle (metadata).); ig-user-stories-v1 (An account's currently-active stories by numeric account id (metadata).); ig-user-suggested-profiles (Suggested / related accounts for a profile.); ig-user-web-profile-info (Public profile plus the first grid of posts, by numeric account id.); ig-userstream-by-id (Profile plus its content stream in one lookup, by numeric account id.); ig-userstream-by-username (Profile plus its content stream in one lookup, by @handle.); ig-comment-likers-chunk (Accounts that liked a comment, one page at a time.); ig-fbsearch-accounts (Search accounts by name or keyword.); ig-fbsearch-accounts-v3 (Search accounts by name or keyword (current source).); ig-fbsearch-reels (Search reels by keyword (content research).); ig-fbsearch-topsearch (Blended top search for a keyword, page by page.); ig-hashtag-medias-clips-chunk (Reels under a hashtag, one page at a time.); ig-hashtag-medias-top-chunk (Top posts for a hashtag, one page at a time.); ig-location-medias-recent-chunk (Most recent posts at a location, one page at a time.); ig-location-medias-top-chunk (Top posts at a location, one page at a time.); ig-media-clips-metadata (Original sound and music info for up to 10 reels in one lookup (batch).); ig-media-comments-chunk (A page of the comments on a post.); ig-media-comments-infos (Comment counts and preview comments for up to 10 posts in one lookup (batch).); ig-media-usertags (Accounts tagged inside up to 10 posts in one lookup (batch).); ig-search-hashtags (Search hashtags by keyword (current source).); ig-topsearch (Blended top search across accounts, hashtags and places for a keyword.); ig-track-by-canonical-id (An audio track by its canonical id.); ig-user-clips (An account's reels by numeric account id, ranked by views.); ig-user-clips-chunk (An account's reels, one cursor page at a time.); ig-user-clips-v2 (An account's reels by numeric account id (alternate source).); ig-user-followers (A page of an account's followers, by numeric account id.); ig-user-followers-chunk (Full follower extraction for an account, one cursor page at a time.); ig-user-followers-chunk-v1 (An account's followers, one cursor page at a time.); ig-user-followers-g2 (A page of an account's followers, by numeric account id (alternate source).); ig-user-following (A page of the accounts a profile follows, by numeric account id.); ig-user-following-chunk (Full following-list extraction for an account, one cursor page at a time.); ig-user-following-chunk-v1 (The accounts a profile follows, one cursor page at a time.); ig-user-following-g2 (A page of the accounts a profile follows (alternate source).); ig-user-highlights-v2 (An account's Story Highlights tray by numeric account id (alternate source).); ig-user-medias (An account's feed posts (current source).); ig-user-medias-chunk (An account's feed posts, one cursor page at a time.); ig-user-medias-g2 (An account's feed posts, one page at a time.); ig-user-reposts (The posts an account has reposted.); ig-user-tag-medias (Posts an account is tagged in (alternate source).); ig-user-tag-medias-chunk (Posts an account is tagged in, one page at a time.); ig-track-stream-by-id (The feed of posts and reels using an audio track, one page at a time.)"
                  },
                  "params": {
                    "type": "object",
                    "description": "The parameters for the chosen endpoint as key/value pairs (e.g. { username } or { user_id, amount } or { query }). A batch endpoint's media_ids takes a LIST of ids, e.g. { media_ids: [\"111\", \"222\"] } — pass an array, not a comma-joined string. Unknown params are rejected."
                  }
                },
                "required": [
                  "endpoint"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiOkEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 9
      }
    },
    "/v1/ig-profile": {
      "post": {
        "operationId": "ig_profile",
        "summary": "ig_profile",
        "description": "Look up ONE public Instagram account by handle or by numeric account id, and get a compact profile: id, handle, display name, whether it is private or verified, category, bio, external link and the follower / following / post counts. A private account still answers here (its header is public) with isPrivate true — check that before spending on its feeds. The id it returns is the cheap way to address the account in every other Instagram tool. Read-only.",
        "tags": [
          "REST"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Public Instagram handle or profile link, e.g. @brand. Give either this or user_id — a call with neither is refused."
                  },
                  "user_id": {
                    "type": "string",
                    "maxLength": 32,
                    "pattern": "^[0-9]+$",
                    "description": "Numeric account id (from ig_profile). Cheaper than a handle — skips a lookup. Give either this or username."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "Skip the short-lived cache and pay for a fresh read. Use it when the CURRENT number matters (checking a publish landed, re-reading an edited post); leave it off otherwise — the default answer to «is this slightly old» should be the cheap one."
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success — the stage result wrapped in the standard envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Success envelope. `result` carries this endpoint's payload.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "profile": {
                          "type": "object",
                          "description": "One public profile, compact.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Numeric account id — the input every by-id read takes."
                            },
                            "username": {
                              "type": "string",
                              "description": "The account's handle."
                            },
                            "fullName": {
                              "type": "string",
                              "description": "Display name."
                            },
                            "isPrivate": {
                              "type": "boolean",
                              "description": "True when the account's media is not publicly readable."
                            },
                            "isVerified": {
                              "type": "boolean",
                              "description": "True when the account carries the verified badge."
                            },
                            "category": {
                              "type": "string",
                              "description": "The account's self-declared category."
                            },
                            "biography": {
                              "type": "string",
                              "description": "Bio text."
                            },
                            "externalUrl": {
                              "type": "string",
                              "description": "The link in the bio."
                            },
                            "followers": {
                              "type": "integer",
                              "description": "Follower count at read time."
                            },
                            "following": {
                              "type": "integer",
                              "description": "Following count at read time."
                            },
                            "posts": {
                              "type": "integer",
                              "description": "Post count at read time."
                            }
                          },
                          "required": [
                            "username",
                            "isPrivate",
                            "isVerified"
                          ]
                        },
                        "creditsChargedMilli": {
                          "type": "integer",
                          "description": "What this call cost, in thousandths of a credit."
                        }
                      },
                      "required": [
                        "profile"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "result"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, stage arguments, or an expired pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of LLM credits or plan quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key is not scoped for this stage, or the Instagram account is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Owner-scoped resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "A durable-state conflict (idempotency-key reused with different content, part in flight, or a non-postable connection).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Per-plan request budget exhausted, a daily fair-use pause, or the data provider throttling us. The plan budget belongs to the ACCOUNT — every key and OAuth token of one owner shares it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error (`server_error`), or a result that could not be represented on the wire (`serialization_error` — `details.path` names the field when it can be located; a payload that cannot even be walked reports the reason alone).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Stage has no backing implementation yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The external data provider is unavailable (upstream fault, timeout, or credential refused). Retriable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "x-displayOrder": 10
      }
    },
    "/v1/ig-user-reels": {
      "post": {
        "operationId": "ig_user_reels",
        "summary": "ig_user_reels",
[...]
